@import "../../../assets/scss/colors";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";


.order {
    margin: 20px;

    .header {
        color: $brown;
        font-size: 2.2rem;
        text-transform:uppercase;
    }
    
    .form {
        color: $brown;
        font-size: 1.2rem;

        .form-control{
            border: 0.5px solid $yellow;
            margin-bottom: 10px;
            .container {
                @include display-flex($flexStart, $center);
            }

            .inputAddress {
                width: 350px;
            }

            .value {
                margin: 5px;
            }
        }

        .buy {
            @include display-flex($flexEnd, $center);
             margin: 5px;
        }
    }
}

.button-enable {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-image:url("../../../assets/img/edit_button.png") ;
    background-size: contain;

    &:hover {
        background-color: $dark_beige;
        color: $orange;
        transition: 0.3s ease-in-out;
        box-shadow: 5px -2px 25px $dark_beige;
        cursor: pointer;
      }
}

.button-disable {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-image:url("../../../assets/img/disable.png") ;
    background-size: contain;

    &:hover {
        background-color: $dark_beige;
        color: $orange;
        transition: 0.3s ease-in-out;
        box-shadow: 5px -2px 25px $dark_beige;
        cursor: pointer;
      }
}
