@import "../../../assets/scss/colors";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.header {
  @include display-flex($spaceBetween, $center);
  @include break-point($laptop) {
    @include display-flex($center, $center);
    flex-direction: column;
    height: 70px;
  }
  background-color: $yellow;
  height: 50px;
  border-bottom: solid 2px $orange;

  .header-title-wrapper {
    @include display-flex($spaceBetween, $center);

    .title {
      @include break-point($laptop) {
        font-size: 1.6rem;
        margin: 3px;
      }
      text-transform: uppercase;
      margin-left: 15px;
      color: $brown;
      font-size: 2rem;
    }

    .logo {
      height: 40px;
      width: 40px;
      border-radius: 25px;

      &:hover {
        transition: 0.2s ease-in-out;
        box-shadow: 2px -2px 25px $dark_beige;
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  &-content-wrapper {
    @include display-flex($flexEnd, $center);
    min-width: 400px;
    margin-right: 15px;
    
    .burger_menu {
      @include break-point($laptop) {
        display: block;
      }

      display: none;
      background-image: url(../../../assets/img/burger-menu.png);
      width: 24px;
      height: 24px;
      margin: 5px;
      border: 2px solid $orange;
      border-radius: 5px;

      &:hover {
        @include button-hover;
      }

      &__active {
        background-image: url(../../../assets/img/burger-menu-open.png);
      }
    }

    .header-item {
      margin-right: 1px;
    }

    .button-editing {
      margin-right: 1px;
    }
  }
}
