@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.main {
  font-size: 1.6rem;

  &-product-container {
    display: flex;
    .said-bar {
      width: 30%;
      border: 2px solid $orange;
    }

    .products {
      @include display-flex(space-between, center);
      height: auto;
      max-width: 70%;
      border: 2px solid $yellow;
    }
  }
}
