
<div class="personalData">
    <div class="fixed-avatar">
        <img
            class="button__img "
            [src]="profilePicture"
            [alt]="avatarImgAltAttributeValue"
        />
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="avatar form-control">
            <input 
                type="file" 
                accept="image/*,image/jpeg"
                name="avatar"
                formControlName="avatar">
            <div class="validation"></div>
        </div>
        

        <div class="firstName form-control">
            <h2 class="value" >{{formData.firstName}}</h2>
            <input type="text" placeholder="изменить имя" [(ngModel)]="formData.firstName" formControlName="firstName">
            <div class="validation"></div>
        </div>

        <div class="lastName form-control">
            <h2 class="value">{{formData.lastName}}</h2>
            <input type="text" placeholder="изменить фамилию" [(ngModel)]="formData.lastName" formControlName="lastName">
            <div class="validation"></div>
        </div> 

        <div class="address form-control">
            <h2 class="value">Беларусь, Минск, ул. Скорины, 10</h2>
            <div class="">

                <select>
                    <option value="by">Беларусь</option>
                    <option value="ua">Украина</option>
                </select>
            </div>

            <div div class="">
                <input type="text">
            </div>
            <button class="btn" type="button">Выбрать столицу</button>
        </div>

        <div class="phoneNumber form-control">
            <h2 class="value"> {{formData.phoneNumber}}</h2>
            <input type="tel" placeholder="изменить номер телефона" [(ngModel)]="formData.phoneNumber" formControlName="phoneNumber">
            <div class="validation"></div>
        </div> 

        <div class="gender form-control">
            <h2  class="value">Пол мужской</h2>
            <p><input name="dzen" type="radio" value="nedzen"checked >Муж.</p>
            <p><input name="dzen" type="radio" value="dzen" > Жен.</p>
            <div class="validation"></div>
        </div>        

        <button class="btn" type="submit" [disabled]="form.invalid">Сохранить</button>
    </form>
</div>

