<div class="personalData">
    <div class="fixed-avatar">
        <img
            class="button__img "
            [src]="profilePicture"
            [alt]="avatarImgAltAttributeValue"
        />
    </div>
    <form class="form"> 
        <div class="avatar form-control">
            <div class="container">
                <input 
                    name="avatar"
                    type="file" 
                    accept="image/*,image/jpeg"
                    [attr.disabled]="isEditAvatar ? 'disabled' : null"
                    >
                <div  class="button-enable" *ngIf="isEditAvatar"(click)="isEditAvatar = !isEditAvatar"></div>
                <div  class="button-disable" *ngIf="!isEditAvatar"(click)="isEditAvatar = !isEditAvatar"></div>                
            </div>
        </div>
        <div class="firstName form-control">
            <div class="container" >
                <h2 class="value" >{{userData.firstName}}</h2>
                <div class="button-enable" *ngIf="isEditFirstName"(click)="isEditFirstName = !isEditFirstName"></div>
                <div class="button-disable" *ngIf="!isEditFirstName"(click)="isEditFirstName = !isEditFirstName"></div>
            </div>
            <input
            name="firstName"
            type="text" 
            [(ngModel)]="userData.firstName" 
            [attr.disabled]="isEditFirstName ? 'disabled' : null">
        </div>
        <div class="lastName form-control">
            <div class="container">
                <h2 class="value">{{userData.lastName}}</h2>
                <div class="button-enable" *ngIf="isEditLastName"(click)="isEditLastName = !isEditLastName"></div>
                <div class="button-disable" *ngIf="!isEditLastName"(click)="isEditLastName = !isEditLastName"></div>                
            </div>
            <input 
            name="lastName"
            type="text" 
            [(ngModel)]="userData.lastName" 
            [attr.disabled]="isEditLastName ? 'disabled' : null"
            >
        </div>
        <div class="country form-control">
            <div class="container">
                <h2 class="value">{{userData.country}}</h2>
                <div class="button-enable" *ngIf="isEditCountry"(click)="isEditCountry = !isEditCountry"></div>
                <div class="button-disable" *ngIf="!isEditCountry"(click)="isEditCountry = !isEditCountry"></div>                
            </div>
            <select 
            name="country"
            [(ngModel)]="userData.country" 
            [attr.disabled]="isEditCountry ? 'disabled' : null"
            >
                <option *ngFor="let country of countryes">{{country}}</option>
            </select>
        </div>
        <div class="address form-control">
            <div class="container">
                <h2 class="value">{{userData.address}}</h2>
                <div class="button-enable" *ngIf="isEditAddress"(click)="isEditAddress = !isEditAddress"></div>
                <div class="button-disable" *ngIf="!isEditAddress"(click)="isEditAddress = !isEditAddress"></div>                
            </div>
            <div class="">
                <input 
                name="address"
                type="text" placeholder="изменить фамилию" 
                [(ngModel)]="userData.address" 
                [attr.disabled]="isEditAddress ? 'disabled' : null"
                >
            </div>
        </div>
        <div class="phoneNumber form-control">
            <div class="container">
                <h2 class="value"> {{userData.phoneNumber}}</h2>
                <div class="button-enable" *ngIf="isEditPhoneNumber"(click)="isEditPhoneNumber = !isEditPhoneNumber"></div>
                <div class="button-disable" *ngIf="!isEditPhoneNumber"(click)="isEditPhoneNumber = !isEditPhoneNumber"></div>                
            </div>

            <input 
            name="phoneNumber"
            type="tel" 
            [(ngModel)]="userData.phoneNumber"
            [attr.disabled]="isEditPhoneNumber ? 'disabled' : null">
        </div> 
        <div class="gender form-control">
            <div class="container">
                <h2  class="value">{{userData.gender}}</h2>
                <div class="button-enable" *ngIf="isEditGender"(click)="isEditGender = !isEditGender"></div>
                <div class="button-disable" *ngIf="!isEditGender"(click)="isEditGender = !isEditGender"></div>
            </div>
            <label>
                <input
                    name="gender"
                    [(ngModel)]="userData.gender" 
                    type="radio" [value]="inputGenderLabelMale" 
                    [attr.disabled]="isEditGender ? 'disabled' : null"  
                > 
            {{userData.gender}}
            </label> 
            <label>
                <input 
                    name="gender"
                    [(ngModel)]="userData.gender" 
                    type="radio" [value]="inputGenderLabelFemale" 
                    [attr.disabled]="isEditGender ? 'disabled' : null" 
                > 
            {{userData.gender}}
            </label>   
        </div>
    </form>
</div>
