<div class="personalData">
    <div class="avatar">
        <img
            class="button__img"
            [src]="profilePicture"
            [alt]="avatarImgAltAttributeValue"
        />
        <div class="avatar">
            <label>Изменить фото</label>
            <input 
                type="file" 
                accept="image/*,image/jpeg"
                name="avatar">
            <div class="validation"></div>
        </div>
    </div>

    <div class="firstName">
        <h2>Алесь</h2>
        <label>изменить имя</label>
        <input type="text" placeholder="Имя">
        <div class="validation"></div>
    </div>

    <div class="lastName">
        <h2>Захаренчук</h2>
        <label>изменить фамилию</label>
        <input type="text" placeholder="Фамилия">
        <div class="validation"></div>
    </div> 

    <div>
        <h2>Беларусь, Минск, ул. Скорины, 10</h2>
        <div class="">
            <label>Страна</label>

            <select>
                <option value="by">Беларусь</option>
                <option value="ua">Украина</option>
            </select>
        </div>

        <div div class="">
            <input type="text">
        </div>
        <button class="btn">Выбрать столицу</button>
    </div>

    <div class="phoneNumber">
        <h2> +375293489573</h2>
        <label>изменить номер телефона</label>
        <input type="tel" placeholder="Номер телефона">
        <div class="validation"></div>
    </div> 

    <div class="gender">
        <h2>Муж</h2>
        <label>Изменить пол</label>
        <input type="text" placeholder="Пол">
        <div class="validation"></div>
    </div>        

    <button class="btn">Сохранить</button>




</div>


<!-- <div class="container">
    <form>
        <h1>Личные данные</h1>
        <div>
            <img
            class="button__img"
            [src]="profilePicture"
            [alt]="avatarImgAltAttributeValue"
          />
        </div>

        <div class="avatar">
            <label>Фото профиля</label>
            <input type="text" placeholder="Фото профиля">
            <div class="validation"></div>
        </div>



        <div class="firstName">
            <label>Имя</label>
            <input type="text" placeholder="Имя">
            <div class="validation"></div>
        </div>

        <div class="lastName">
            <label>Фамилия</label>
            <input type="text" placeholder="Фамилия">
            <div class="validation"></div>
        </div> 

        <div>
            <h2>Адрес</h2>
            <div class="">
                <label>Страна</label>
  
                <select>
                    <option value="by">Беларусь</option>
                    <option value="ua">Украина</option>
                </select>
            </div>
  
            <div div class="">
                <input type="text">
            </div>
            <button class="btn">Выбрать столицу</button>
        </div>

        <div class="phoneNumber">
            <label>Номер телефона</label>
            <input type="text" placeholder="Номер телефона">
            <div class="validation"></div>
        </div> 

        <div class="gender">
            <label>Пол</label>
            <input type="text" placeholder="Пол">
            <div class="validation"></div>
        </div>        
  
        <button class="btn">Сохранить</button>
  
    </form>
  </div> -->
