@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/mixins";

.button {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  border: 1px solid $orange;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: $dark_beige;
  height: 30px;
  min-width: 101px;

  &:hover {
    @include button-hover;
  }

  &_active {
    background-color: $brown;
    color: $light_beige;
  }
}
