<div class="favorite-product">
  <div class="favorite-product__wrapper">
    <img
      class="favorite-product__img"
      [src]="favoriteProduct.img"
      [alt]="productAltImgAttribute"
    />
    <span class="favorite-product__name">{{ favoriteProduct.name }}</span>      
    <div class="favorite-product-price">
      <span class="favorite-product-price">Цена:{{ favoriteProduct.price | currency: "USD":"symbol-narrow":"1.2" }}</span>
    </div>
  </div>

  <div 
      class="favorite-product__button"
      (click)="removeFromFavorites(favoriteProduct)"
    >
      УДАЛИТЬ
  </div>    
</div>


  <!-- <div class="favorite-product__info-wrapper">
    <h3 class="favorite-product__name">{{ favoriteProduct.name }}</h3>
    <div class="favorite-product__price-rating-button">
      <div class="favorite-product-price">
        <span
          >Цена:
          {{ favoriteProduct.price | currency: "USD":"symbol-narrow":"1.2" }}</span
        >
      </div>
      <div class="favorite-product__button"
        (click)="removeFromFavorites(favoriteProduct)">
        УДАЛИТЬ
      </div>

    </div>
  </div> -->