@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.shopping-cart {
    @include display-flex($spaceBetween, $center);
    @include break-point($laptop) {
        font-size: 1.3rem;
    }

    flex-wrap: nowrap;
    font-size: 1.6rem;
    font-weight: bold;

    &-product {
        @include display-flex($flexStart, $center);
        flex-wrap: nowrap;
        width: 100%;

        &__img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }

        &__info {
            @include display-flex($flexStart, $flexStart);
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            margin-top: 10px;

                .shopping-cart-product__name{
                    @include display-flex($spaceBetween, $flexStart);
                    flex-wrap: nowrap;
                    width: 95%;

                    @include break-point($small-desktops) {
                        max-width: 500px;
                    }
                    @include break-point($laptop) {
                        max-width: 310px;
                    }
                    @include break-point($tablet) {
                        max-width: 200px;
                    }

                    max-width: 700px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;    
                }

            .shopping-cart-product__description {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .product__amount-price{
                @include display-flex($flexEnd, $center);
                width: 100%;
                .input__amount {
                    width: 15px;
                    margin: 5px;
                }
            }                
            
            .product__price {
                margin-left: 10px;
                color: $orange;
                white-space: nowrap;
            }
        }
    }

    &-product__button {
        min-width: 35px;
        min-height: 35px;
        background-image: url("../../../../assets/img/delete_button.png");
        background-size: contain;
        border: 0.5px solid $yellow;
        margin-right: 10px;

        &:hover {
            color: $brown;
            transition: 0.2s ease-in-out;
            box-shadow: 2px -2px 25px $dark_beige;
            cursor: pointer;
            background-color: $yellow;
            opacity: 0.8;
        }
    }  
}
