<div class="shopping-cart">
  <div class="shopping-cart-product">
    <img
      class="shopping-cart-product__img"
      [src]="shoppingCartProduct.img"
      [alt]="productAltImgAttribute"
    />
    <div class="shopping-cart-product__info">
      <span class="shopping-cart-product__name">{{ shoppingCartProduct.name }}</span>
      <p class="shopping-cart-product__description">{{ shoppingCartProduct.description }}</p>
      <div class="product__amount-price">
        <label> Колличество:
          <input 
            class="input__amount" 
            type="number"
            min="1"
            (keydown)="$event.preventDefault();"
            [(ngModel)]="quantity"
            name="amount"
            (input)="addItemProduct()"
          >
        </label>
        <div>{{shoppingCartProduct.quantity}}</div>
        <span class="product__price">
          Цена: {{ shoppingCartProduct.price | currency: "USD":"symbol-narrow":"1.2" }}
        </span>
      </div>
    </div>
  </div>
  <div 
    class="shopping-cart-product__button"
    (click)="removeFromShoppingCart()"
  >
  </div>  
</div>
