<div class="line"></div>
<h1>шоппінг карт Ітем</h1>
<!-- <p>shopping-cart-item works!</p>
<div class="favorite-product">
    <div class="favorite-product__wrapper">
      <img
        class="favorite-product__img"
        [src]="favoriteProduct.img"
        [alt]="productAltImgAttribute"
      />
      <span class="favorite-product__name">{{ favoriteProduct.name }}</span>      
      <div class="favorite-product-price">
        <span class="favorite-product-price">Цена:{{ favoriteProduct.price | currency: "USD":"symbol-narrow":"1.2" }}</span>
      </div>
    </div>
    <div 
        class="favorite-product__button"
        (click)="removeFromFavorites(favoriteProduct)"
      >
    </div>    
  </div> -->