@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";


.shopping-cart-product {
    @include display-flex($spaceBetween, $center);
    flex-wrap: nowrap;
    font-size: 1.6rem;
    font-weight: bold;
    &__img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    &__info {
        @include display-flex($flexStart, $center);
        .name-price__wrapper {
            @include display-flex($spaceBetween, $flexStart);
            .shopping-cart-product__price {
                margin-left: 10px;
                color: $orange
            }
        }
    }

    &__button {
        min-width: 35px;
        min-height: 35px;
        background-image: url("../../../../assets/img/delete_button.png");
        background-size: contain;
        border: 0.5px solid $yellow;
        margin-right: 10px;

        &:hover {
            color: $brown;
            transition: 0.2s ease-in-out;
            box-shadow: 2px -2px 25px $dark_beige;
            cursor: pointer;
            background-color: $yellow;
            opacity: 0.8;
          }
    
    }
      
}

// .shopping-cart-product {
//     @include display-flex($spaceBetween, $center);
//     flex-wrap: nowrap;
//     font-size: 1.6rem;
//     font-weight: bold;

//     .shopping-cart-product__wrapper {
//         @include display-flex($flexStart, $center);
//         // flex-direction: column;
//         @include break-point($small-desktops) {
//             max-width: 80%;
//           }
//         max-width: 90%;
//         flex-wrap: nowrap;

//         .shopping-cart-product__img {
//             width: 40px;
//             height: 40px;
//         }

//         .shopping-cart-product__name {
//             @include break-point($small-desktops) {
//                 max-width: 600px;
//               }
//             margin-left: 5px;
//             margin-right: 5px;
//             max-width: 1000px;
//             white-space: nowrap;
//             overflow: hidden;
//             text-overflow: ellipsis;
//         }
//     }

//     .shopping-cart__button {
//         width: 35px;
//         height: 35px;
//         background-image: url("../../../../assets/img/delete_button.png");
//         background-size: contain;
//         border: 0.5px solid $yellow;
//         margin-right: 10px;

//         &:hover {
//             color: $brown;
//             transition: 0.2s ease-in-out;
//             box-shadow: 2px -2px 25px $dark_beige;
//             cursor: pointer;
//             background-color: $yellow;
//             opacity: 0.8;
//           }
//     }

// }
    
    