<div class="product">
    <img
        class="product__img"
        [src]="product.img"
        [alt]="productAltImgAttribute"
        />
    <div class="product__info-wrapper">
        <div class="control">
            <h3 class="product__name" *ngIf="!isChanges">
                {{ product.name }}
            </h3>
            <textarea 
                class="input"
                type="text"
                *ngIf="isChanges"
                [(ngModel)]="product.name"
                >
            </textarea>
        </div>
        <div class="control">
            <p  *ngIf="!isChanges">
                {{ product.description }}
            </p>
            <textarea
                class="input"
                type="text"
                *ngIf="isChanges"
                [(ngModel)]="product.description"
                >
            </textarea>
        </div>
        <div class="control">
            <span>Цена: 
                <span *ngIf="isChanges">$</span>
                <span *ngIf="!isChanges"> {{ product.price | currency: "USD":"symbol-narrow":"1.2" }}</span>
            </span>
            <input 
                class="input input-price"
                type="number"
                *ngIf="isChanges"
                [(ngModel)]="product.price"
                >
        </div>
        <label *ngIf="isChanges"> 
            Url изображения
            <input 
                type="text"
                [(ngModel)]="product.img"
                >
        </label>
        <div class="buttons">
            <app-button
                *ngIf="!isChanges"
                class="product__button"
                [title]="changeProductButtonText"
                (click)="changeProduct()"
                >
            </app-button>
            <app-button
                *ngIf="isChanges"
                class="product__button"
                [title]="saveChangesButtonText"
                (click)="updateProduct(product)"
                >
            </app-button>
            <app-button
                class="product__button"
                [title]="removeProductButtonText"
                (click)="removeProduct(product)"
                >
            </app-button>
        </div>
    </div>
</div>
