/** Flex values */
$flexStart: flex-start;
$flexEnd: flex-end;
$spaceBetween: space-between;
$spaceAround: space-around;
$center: center;

/** Screen sizes */
$mobile: 480px;
$tablet: 580px;
$laptop: 768px;
$small-desktops: 991px;
$desktops: 1199px;
