<header class="header">
  <div class="header-title-wrapper">
    <h1 class="title">РЫБАЧИМ ВМЕСТЕ</h1>
    <div class="logo"
      (click)="redirectToMainPage()"
    >
      <img 
        [src]="logoPicture"
        [alt]="logoAltImgAttribute"
      >
  </div>
  </div>
  <div class="header-content-wrapper">
    <div
      class="burger_menu"
      [ngClass]="{ burger_menu__active: isActiveButtonMenu }"
      (click)="showSidebar()"
    ></div>
    <app-search class="header-item"></app-search>
    <app-button class="header-item" [title]="logInButtonTitle" (click)="redirectToAuthPage()"></app-button>
    <app-button class="header-item" [title]="signUpButtonTitle"></app-button>
    <app-profile class="header-profile header-item"></app-profile>
    <app-shopping-cart class="shopping-cart"></app-shopping-cart>
  </div>
</header>
