@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.header {
  background-color: $yellow;
  height: 50px;
  border-bottom: solid 2px $orange;

  @include display-flex(space-between, center);

  &__title {
    margin-left: 15px;
    color: $brown;
    font-size: 2rem;
  }

  &-content-wrapper {
    min-width: 40%;
    margin-right: 15px;

    @include display-flex(space-between, center);
  }
}
