<header class="header">
  <h1 class="header__title">РЫБАЧИМ ВМЕСТЕ</h1>
  <div class="header-content-wrapper">
    <div
      class="burger_menu"
      [ngClass]="{ burger_menu__active: isActiveButtonShowSideBar }"
      (click)="showSidebar()"
    ></div>
    <app-search class="header-item"></app-search>
    <app-button class="header-item" [title]="logInButtonTitle"></app-button>
    <app-button class="header-item" [title]="signUpButtonTitle"></app-button>
    <app-profile class="header-profile header-item"></app-profile>
    <app-shopping-cart class="shopping-cart"></app-shopping-cart>
  </div>
</header>
