@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/mixins";

.button_profile {
  padding: 0;
  height: 30px;
  width: 30px;
  position: relative;

  &:hover {
    @include button-hover;
  }

  .button__img {
    height: 100%;
  }
}

.profile-menu {
  display: flex;
  position: absolute;
  width: 200px;
  height: 30px;
  left: 80%;
  left: calc(100% - 250px);
}
