 
    <!-- <form class="form"> 
        <div class="firstName form-control">
            <div class="container" >
                <h2 class="value" >{{userData.firstName}}</h2>
                <div class="button-enable" *ngIf="isEditFirstName"(click)="isEditFirstName = !isEditFirstName"></div>
                <div class="button-disable" *ngIf="!isEditFirstName"(click)="isEditFirstName = !isEditFirstName"></div>
            </div>
            <input
            name="firstName"
            type="text" 
            [(ngModel)]="userData.firstName" 
            [disabled]="isEditFirstName"
            >
        </div>
        <div class="lastName form-control">
            <div class="container">
                <h2 class="value">{{userData.lastName}}</h2>
                <div class="button-enable" *ngIf="isEditLastName"(click)="isEditLastName = !isEditLastName"></div>
                <div class="button-disable" *ngIf="!isEditLastName"(click)="isEditLastName = !isEditLastName"></div>                
            </div>
            <input 
            name="lastName"
            type="text" 
            [(ngModel)]="userData.lastName" 
            [disabled]="isEditLastName"
            >
        </div>
        <div class="country form-control">
            <div class="container">
                <h2 class="value">{{userData.country}}</h2>
                <div class="button-enable" *ngIf="isEditCountry"(click)="isEditCountry = !isEditCountry"></div>
                <div class="button-disable" *ngIf="!isEditCountry"(click)="isEditCountry = !isEditCountry"></div>                
            </div>
            <select 
            name="country"
            [(ngModel)]="userData.country" 
            [disabled]="isEditCountry"
            >
                <option *ngFor="let country of countryes">{{country}}</option>
            </select>
        </div>
        <div class="address form-control">
            <div class="container">
                <h2 class="value">{{userData.address}}</h2>
                <div class="button-enable" *ngIf="isEditAddress"(click)="isEditAddress = !isEditAddress"></div>
                <div class="button-disable" *ngIf="!isEditAddress"(click)="isEditAddress = !isEditAddress"></div>                
            </div>
            <div class="">
                <input 
                name="address"
                type="text" placeholder="изменить фамилию" 
                [(ngModel)]="userData.address" 
                [disabled]="isEditAddress"
                >
            </div>
        </div>
        <div class="phoneNumber form-control">
            <div class="container">
                <h2 class="value"> {{userData.phoneNumber}}</h2>
                <div class="button-enable" *ngIf="isEditPhoneNumber"(click)="isEditPhoneNumber = !isEditPhoneNumber"></div>
                <div class="button-disable" *ngIf="!isEditPhoneNumber"(click)="isEditPhoneNumber = !isEditPhoneNumber"></div>                
            </div>
            <input 
            name="phoneNumber"
            type="tel" 
            [(ngModel)]="userData.phoneNumber"
            [disabled]="isEditPhoneNumber"
            >
        </div> 
    </form> -->


