<form class="auth">
    <h2 class="header">Авторизация</h2>
    <div class="email">
        <label class="label" for="Email">Email</label>
        <input type="text" 
            name="email"
            placeholder="Email" 
            [(ngModel)]="email"
        >
    </div>
    <div class="password">
        <label class="label" for="password">Password</label>
        <input class="form-control" 
            type="password" 
            name="password"
            placeholder="Password" 
            [(ngModel)]="password" 
        />
    </div>
    <div class="">
        <app-button class="header-item" 
            type="submit" 
            (click)="login()" 
            [title]="logInButtonTitle"
        ></app-button>
    </div>
</form>
