<nav class="nav">
    <ul class="button__container">
        <li class="button button_active">
            <div 
            [routerLink]="['/profile/personal-data']"
            (click)="goToPersonalData()"
            > {{personalDataButtonTitle}} </div>
        </li>
        <li class="button">
            <div
            [routerLink]="['/profile/favorites']"
            (click)="goToFavoriteProducts()" 
            >{{favoriteProductsButtonTitle}}</div>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>