@import "../scss/variables";
@import "../scss/colors";

@mixin display-flex($justifyContent: $flexStart, $alignItems: $flexStart) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: wrap;
}

@mixin button-hover {
  color: $orange;
  transition: 0.2s ease-in-out;
  box-shadow: 2px -2px 25px $dark_beige;
  cursor: pointer;
}

@mixin break-point($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}
